@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    

}
header{
    background-color: #252525;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
}
header figure{
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}
.nav-1{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}
 li :hover{
    transform: scale(120%);
    transition: 300ms;
}

.Boas{
    font-family: "Roboto Serif";
    color: #ffffff;
    font-weight: bolder;
    font-size: 38px;
    /* <-----linha dos Titulos (início)-----> */
}
.banho{
    font-family: "Roboto Serif";
    color: #3A342F;
    font-weight: bolder;
    font-size: 28px;
}
.Mordomia{
    font-family: "Roboto Serif";
    color: #ffffff;
    font-weight: bolder;
    font-size: 28px;
}
.apoio{
    font-family: 'Brygada 1918', serif;
    font-size: 26px;
    font-weight: bold;
    color: #FD6A9A;
}
.chinelo{
    font-family: "Roboto Serif";
    font-size: 30px;
    font-weight: bolder;
    color: #FD6A9A;

}
.americanas{
    font-family: 'Brygada 1918';
    font-size: 26px;
    color: #FD6A9A;

}
.footertitle{
    font-family: "Roboto Serif";
}
  /* <-----linha dos Titulos (fim)-----> */

main{
    width: 100%;
    background: rgb(252,69,226);
    background: linear-gradient(98deg, rgba(252,69,226,1) 0%, rgba(229,73,121,1) 60%, rgba(252,69,226,1) 100%);
    /* height: 93vh; */
    
}

.primeiraSessao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("imagens-icons/shiba.png");
    background-size: 45vh;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 93vh;
}

.boasVindas{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 30vh;
    white-space: pre-line;
    text-align: center;
}

.segundaSessao{
    font-family: "Roboto Serif";
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background-color: #f4f2f3;

}

.firstP{
    font-family: "Roboto";
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    white-space: pre-line;
    color: #3A342F;
}

.pitbul{
    background-image: url("imagens-icons/pitbul.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 54vh;
    width: 60vw;
    height: 80vh;
}

.terceiraSessao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background: rgb(252,69,178);
    background: linear-gradient(180deg, rgba(252,69,178,1) 0%, rgba(229,73,121,1) 53%, rgba(252,69,138,1) 100%);
}

.dog{
    background-image: url("imagens-icons/dog-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    /* object-fit: contain; (Não senti muita diferença com ou sem) */
    width: 60vw;
    height: 80vh;
}

.secondP{
    font-family: "Roboto";
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    white-space: pre-line;
    color: #FFFFFF;
}

.agradecimentos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffff;
    height: 20vh;
}

footer{
    /* padding-left: 5vw; */
    display:flex;
    height: 35vh;
    background: rgb(252,69,226);
    background: linear-gradient(89deg, rgb(233, 29, 165) 7%, rgba(229,73,121,1) 60%, rgb(252, 69, 160) 80%);
}

footer section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    color: #FFFFFF;
}
footer div{
    border: none;
    justify-content: space-evenly;
    height: 20vh;
}
footer div li{
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 300;
    justify-content: space-evenly;
    height: 3vh;
}

.atendimento{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    /* margin-left: 8vw; */
}

.segundaSessao button{
    width: 160px;
    height: 7vh;
    border-radius: 20px;
    background-color: #3A342F;
    color: #ffff;
    border: none;
    font-family: "Roboto";
    font-size: 18px;
    flex-wrap: wrap;
}
.segundaSessao div{
display: flex;
justify-content: space-evenly;
/* align-items: center; */
flex-direction: column;
height: 36vh;
}

.terceiraSessao button{
    width: 160px;
    height: 7vh;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bolder;
}

.terceiraSessao div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 36vh;
}

button:hover{
cursor: pointer;
opacity: 0.5;
}




@media (max-width: 650px) {
    .sumir{
    display: none;
    
    }
    
.segundaSessao{
    flex-direction: column;

}
.pitbul{
    background-size: contain;
}
.terceiraSessao{
    flex-direction: column-reverse;
}
.dog{
    background-size: contain;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer{
    align-items: center;
    justify-content: center;
    height: 90vh;
}
footer li, footer div{
    text-align: center;
    width: 30vw;
}
.atendimento{
    width: 38vw;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.titulo-2, .aparecer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    

}



}
@media (min-width:700px){
     
    .aparecer, .titulo-2{
        display: none;
    }
}