*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    

}
header{
    background-color: #252525;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
}
header figure{
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}
.nav-1{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}
 li :hover{
    transform: scale(120%);
    transition: 300ms;
}

h1{
    font-family: "Roboto Serif";
}

main{
    width: 100%;
    background: rgb(252,69,226);
    background: linear-gradient(98deg, rgba(252,69,226,1) 0%, rgba(229,73,121,1) 60%, rgba(252,69,226,1) 100%);
    /* height: 93vh; */
    
}

.primeiraSessao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("imagens-icons/shiba.png");
    background-size: 45vh;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 93vh;
}

.boasVindas{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid red;
    padding-bottom: 30vh;
    white-space: pre-line;
    text-align: center;
}

.segundaSessao{
    font-family: "Roboto Serif";
    display: flex;
/* flex-direction: column; */
height: 80vh;
align-items: center;
justify-content: space-around;
background-color: #f4f2f3;

}

.firstP{
    display: flex;
    align-items: center;
    text-align: left;
    white-space: pre-line;
}

.pitbul{
    background-image: url("imagens-icons/pitbul.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 54vh;
    border: solid green;
    width: 75vw;
    height: 80vh;
}

.terceiraSessao{
    background: rgb(252,69,178);
background: linear-gradient(180deg, rgba(252,69,178,1) 0%, rgba(229,73,121,1) 53%, rgba(252,69,138,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.dog{
    background-image: url("imagens-icons/dog-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 49vh;
    border: solid red;
    width: 57vw;
    height: 80vh;
}

.secondP{
    display: flex;
    align-items: center;
    text-align: left;
    white-space: pre-line;
}

.agradecimentos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffff;
    height: 20vh;
}

footer{
    padding-left: 5vw;
    display:flex;
    border: solid red;
    height: 35vh;
    background: rgb(252,69,226);
    background: linear-gradient(89deg, rgb(233, 29, 165) 7%, rgba(229,73,121,1) 60%, rgb(252, 69, 160) 80%);
}
.atendimento{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: solid tomato;
    width: 10vw;
    margin-left: 8vw;
}

.segundaSessao button{
    width: 10vw;
    height: 7vh;
    border-radius: 20px;
    background-color: #3A342F;
    color: #ffff;
    border: none;
}
.segundaSessao div{
display: flex;
justify-content: space-evenly;
/* align-items: center; */
flex-direction: column;
height: 36vh;
}

button:hover{
cursor: pointer;
opacity: 0.5;
}



@media (max-width: 500px){
    .sumir{
    display: none;

    }
}
@media (max-width: 725px) {
    
.segundaSessao{
    flex-direction: column;

}
.pitbul{
    background-size: contain;
}
.terceiraSessao{
    flex-direction: column-reverse;
}
.dog{
    background-size: contain;
}
}